
__pycache__/
*.pyc
*.pyo
*.pyd


node_modules/


.env
Backend/routes/.env

artifacts/*
!artifacts/Online_Courses.csv
!artifacts/skills.csv
!artifacts/skill_columns.csv


uploads/


*.pickle
*.pkl


*.ipynb

